# Sass
.sass-cache

# Grav Specific
data/*
!data/.*
!data/flex-objects/
plugins/*
!plugins/.*
themes/*
!themes/.*
accounts/admin.yaml
!accounts/.*

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# phpstorm
.idea/*
